﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicDating</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <div class="navbar-logo">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Musik Samspil</a>
                    <p class="navbar-dao">Skabt af DAOS - Dansk Amatørorkester Samvirke</p>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon black-text" onclick="navbarCollapse()"></span>
                </button>
                <div class="navbar-collapse collapse flex-sm-row-reverse text-center">

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Hjem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">Find musiker</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Post">Find
                                ensemble</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Index">Profil</a>
                        </li>
                    </ul>
                    <br>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container footer-container">
            <div class="index-content">
                <div class=footer>
                    <h2>MUSIK SAMSPIL</h2>
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Hjem</a></li>
                        <li><a asp-area="" asp-controller="Users" asp-action="Index">Find musiker</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Find ensemble</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Profil</a></li>
                    </ul>
                    <div class="row">
                        <div class="col-1">
                            <img src="/images/icons8-instagram.svg" alt="Instagram">
                        </div>
                        <div class="col-1">
                            <img src="/images/icons8-facebook_old.svg" alt="Facebook">
                        </div>
                    </div>
                    <div class="footer-img">
                        <img src="/images/pale-30.svg" alt="footer">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
