﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @* <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello
            @((await UserManager.GetUserAsync(User)).FirstName)!</a>
            </li> *@
        <li class="nav-item">
            <form class="form-inline " asp-area="Identity" asp-page="/Account/Logout"
                asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark btn-login">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <button class="btn-register">
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Opret bruger</a>
            </button>
        </li>
        <li class="nav-item">
            <button class="btn-login">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Log ind</a>
            </button>
        </li>
    }
</ul>
