@model ApplicationUser

@{
    ViewData["Title"] = "Edit";
}
<div class="index-content">
<a href="~/Profile" class="btn btn-secondary profile-btn profile-margin">Tilbage</a>
<h1 class="edit-h1">Rediger Profil</h1>

<div class="row">
    <div class="col">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-row">
            <div class="form-group col-6">
                <label asp-for="FirstName" class="control-label">Navn</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-6 align-self-end">
                @* <label asp-for="LastName" class="control-label"></label> *@
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            </div>
            <div class="form-group">
                <label asp-for="ProfileDescription" class="control-label">Profilbeskrivelse</label>
                <textarea asp-for="ProfileDescription" class="form-control"></textarea>
                <span asp-validation-for="ProfileDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gem profil" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
