@using MusicDating.Models.ViewModels;
@model ProfileVm


@{
    ViewData["Title"] = "Profile";
}

<div class="index-content filter-dropdown">
    <div class="d-flex justify-content-start profile-margin">
    <div class="profile-img"></div>
    <h5 class="application-username"> @Model.ApplicationUser.FirstName @Model.ApplicationUser.LastName</h5>
    @* <p>Medlem siden: @Model.ApplicationUser.DateCreated</p> *@
    </div>
    <div class="d-flex justify-content-between">
        <a href="Profile/Edit" class="btn btn-secondary edit-btn">Rediger profil</a>
        <a href="#" class="btn btn-secondary edit-btn">Indstillinger</a>
    </div>
</div>

<div class="container">
    <div class="profile-text">
        <div class="row row-margin">
            <div class="d-flex justify-content-between add-instruments">
            <h5 class="profile-title">Profilbeskrivelse</h5>
            <a href="Profile/Edit" class="btn btn-secondary profile-btn">Rediger</a>
             </div>
            <div class="profile-txt">
                @Model.ApplicationUser.ProfileDescription
            </div>
           
        </div>
    </div>


    <div class="mine-instrumenter">
        <div class="row row-margin">
            <div class="d-flex justify-content-between add-instruments">
            <h5 class="instrument-title">Mine instrumenter</h5>
            <a href="#" class="btn btn-secondary profile-btn">Tilføj</a>
            </div>
            <div class="card col col-12 card-container">
            <div class="card-text">
                @foreach (var userInstrument in Model.UserInstruments)
    {
                    <div class="d-flex justify-content-between">
                    <h5 class="">@userInstrument.Instrument.Name</h5>
                    <div class="">
                        <div>
                            <h6>Erfaring <span class="badge badge-primary">@userInstrument.Level</span></h6>
                        </div>
                    </div>
                </div>
                    <div>
                    @foreach (var genre in userInstrument.UserInstrumentGenres)
            {
                            <span class="badge badge-secondary">@genre.Genre.Name</span>
            }
                </div>
    }   </div>
    </div>
    </div>
    </div>

    <div class="mine-instrumenter">
        <div class="row row-margin">
            <div class="d-flex justify-content-between add-instruments">
            <h5 class="instrument-title">Mine opslag</h5>
            <a href="#" class="btn btn-secondary profile-btn">Opret</a>
            </div>
            <div class="card col col-12 card-container">
            <div class="card-body">
                @foreach (var post in Model.Posts)
    {               
                    <div class="d-flex justify-content-start user-bar">
                        <div class="user-image"></div>
                    <h5 class="ensemble-title">@post.EnsembleName</h5>
                    <div class="jazz-svg"></div>
                    </div>
                    <div class="">
                        <div class=card-text>
                        <p>@post.Description</p>
                       <h5>@post.Instrument.Name</h5>
                       </div>
                    </div>
            
            <div>
    </div>
    }
     
</div>