﻿@model ApplicationUser
@{
    ViewData["Title"] = "Home Page";
}

<div class="index-container">
    <div class="index-content">
        @{
            if (User.Identity.IsAuthenticated)
            {
                <div class="splash-image-loggedin">
                </div>
                <h1>Velkommen @Model.FirstName!</h1>
            }
            else
            {
                <div class="splash-image">
                </div>
                <h1> Stedet hvor musikere finder musikere og spiller musik sammen</h1>
            }
        }

        <div class="row">
            <div class="col-6">
                <a asp-controller="Users" asp-action="Index">
                    <button class="find-btn">
                        <div class="findmusiker-icon">
                        </div>Find musiker
                    </button></a>
            </div>
            <div class="col-6">
                <button class="find-btn">
                    <div class="findensemble-icon"></div>
                    Find ensemble
                </button></div>
        </div>
    </div>
</div>