@page
@model RegisterModel
@{
    ViewData["Title"] = "Opret profil";
}
<div class="index-content">
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            @* <hr /> *@
             <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-row">
            <div class="form-group col-6">
                @* <label asp-for="Input.FirstName"></label> *@
                <input asp-for="Input.FirstName" class="form-control" placeholder="Fornavn" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                @* <label asp-for="Input.LastName"></label> *@
                <input asp-for="Input.LastName" class="form-control" placeholder="Efternavn" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            </div>
            <div class="form-group">
                @* <label asp-for="Input.Email"></label> *@
                <input asp-for="Input.Email" class="form-control" placeholder="E-mail" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label asp-for="Input.Password"></label> *@
                <input asp-for="Input.Password" class="form-control" placeholder="Adgangskode" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label asp-for="Input.ConfirmPassword"></label> *@
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Bekræft adgangskode"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary register">Opret profil</button>
        </form>
    </div>
    @* <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div> *@
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
