﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
header {
  width: 375px;
  margin: 0 auto;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.navbar-logo a {
  font-family: "Oswald", sans-serif;
  color: #bf1e2e !important;
  font-size: 20px;
  font-weight: 600;
}
.navbar-dao {
  font-size: 10px;
  color: #353a5d;
  font-family: "Montserrat", sans-serif;
}
.navbar-toggler {
  border: none;
}
.btn-register {
  background-color: #353a5d;
}
.btn-register .nav-link {
  color: #ffffff !important;
}

.btn-register,
.btn-login {
  width: 100%;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  height: 50px;
  box-shadow: 0px 2px 4px #00000014;
  margin: 5px 0 5px 0;
}

.btn-login {
  border: 1px solid #dddddd;
  background-color: transparent;
  margin-bottom: 16px;
}

/* Log ind */
.rememberMe {
  height: 12.8px !important;
}
/* Generel rules */

.container {
  padding-left: 0;
  padding-right: 0;
  width: 375px;
}

body {
  background-color: #f9f9f9;
}
input,
textarea {
  border-radius: 10px !important;
  font-family: "Montserrat", sans-serif;
  font-size: 16px !important;
  height: 50px !important;
}
h1,
.page-title,
.card-text h5 {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  color: #353a5d;
  font-weight: 600;
}
.btn-primary {
  width: 100%;
  background-color: #353a5d;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  height: 50px;
}
.nav-link {
  font-family: "Montserrat", sans-serif;
  color: #353a5d !important;
  font-weight: 700;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
  width: 375px;
  margin: 0 auto;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

span.badge-secondary {
  background-color: #eaeaf1;

  padding: 6px 14px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #353a5d;
}

.footer-container {
  background-color: #bf1e2e;
}
.footer li {
  list-style: none;
}

.footer li a {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 600;
}

.footer ul {
  padding-left: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
.footer h2 {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-size: 20px;
  margin-top: 15px;
}
.footer-img {
  width: 224.5px;
  height: 75.7px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Index-page */
.splash-image {
  background-image: url("/images/clip-333.svg");
  background-size: cover;
  height: 180px;
  width: 261px;
  margin: 0 auto;
  margin-top: 25px;
}

.splash-image-loggedin {
  background-image: url("/images/kingdom-4.svg");
  background-size: 100% 100%;
  height: 159px;
  width: 159px;
  margin: 0 auto;
  margin-top: 25px;
}

.index-container {
  background-color: #ffffff;
}

.index-content {
  padding: 15px;
}

.index-container h1 {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #bf1e2e;
}

.findmusiker-icon {
  background: url("/images/findmusiker.svg");
  background-size: 100% 100%;
  width: 31.5px;
  height: 25px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.findensemble-icon {
  background: url("/images/findensemble.svg");
  background-size: 100% 100%;
  width: 27px;
  height: 24px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.find-btn {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #dddddd;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #353a5d;
  height: 84px;
  background-color: transparent;
  box-shadow: 0px 2px 4px #00000014;
  margin: 5px 0 5px 0;
}

/* New CSS */
main {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.row-margin {
  margin-left: 15px;
  margin-right: 17px;
}

.filter-dropdown {
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 24px;
}

.card {
  margin-bottom: 24px;
  box-shadow: #00000014 0px 2px 4px;
  border-radius: 10px;
}

.card-container {
  padding-left: 0;
  padding-right: 0;
}

.card-body {
  padding: 0;
}

.card-title {
  margin-block-end: 0em;
}

.username {
  margin-left: -30px;
  color: #bf1e2e;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.user-margin {
  margin-left: 12px;
}

.card-text {
  padding: 15px;
}

.user-bar {
  background-color: #f9f9f9;
  padding: 15px;
  align-items: center;
  border-bottom: 1px solid #dddddd;
}

.user-image {
  background-color: #353a5d;
  opacity: 10%;
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 8px;
}
.profile-btn,
.edit-btn {
  width: 87px;
  height: 30px;
  font-size: 14px;
  color: #353a5d;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border: 1px solid #dddddd;
  padding: 5px 6px 6px 6px;
  box-shadow: #00000014 0px 2px 4px;
}

.badge-primary {
  background-color: #353a5d;
  border-radius: 10px;
  width: 32px;
  height: 32px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

span.badge-primary {
  padding-top: 9px;
  margin-left: 6px;
}

.card-text h5 {
  font-size: 20px;
}

.card-text h6 {
  color: #777777;
  font-weight: 600;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}

/* Profile CSS */

.profile-img {
  width: 71px;
  height: 71px;
  background-color: #777777;
  border-radius: 20px;
  margin-right: 20px;
}
.application-username {
  color: #bf1e2e;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.mine-instrumenter,
.profile-text {
  background-color: #ffffff;
  width: 373px;
  border: 1px solid #dddddd;
  margin-bottom: 20px;
}

.add-instruments {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 24px;
}

.instrument-title,
.profile-title {
  color: #353a5d;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.ensemble-title {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #bf1e2e;
  font-weight: 600;
  margin-left: 12px;
}

.card-text p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #353a5d;
  font-weight: 600;
}
.jazz-svg {
  background-image: url("/images/icons8-jazz.svg");
  background-size: cover;
  width: 54px;
  height: 48px;
  position: absolute;
  left: 275px;
  bottom: 102px;
}

.edit-btn {
  width: 161px;
  margin-top: 23px;
  margin-bottom: 9px;
}
.profile-margin {
  margin-top: 17px;
}

.edit-h1 {
  margin-top: 16px;
  margin-bottom: 24px;
}

label {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #353a5d;
  font-weight: 600;
  margin-bottom: 16px;
}

textarea {
  height: 200px !important;
  margin-bottom: 24px;
}

.profile-txt {
  margin-bottom: 24px;
  color: #777777;
  font-family: "Montserrat", sans-serif;
}
