@using MusicDating.Models.ViewModels;
@model UserInstrumentVm

@{
    ViewData["Title"] = "Index";
}
<div class="index-content filter-dropdown">
    <div class="page-title">Find musiker</div>
    <br>

    @using (Html.BeginForm("Index", "Users", FormMethod.Post))
    {
        <div class="form-group">
            <select asp-for="InstrumentName" class="form-control" asp-items="Model.Instruments"
                onchange="this.form.submit()">
                <option value="">Select instrument</option>
            </select>
        </div>
        <div class="form-group">
            <select asp-for="GenreId" class="form-control" asp-items="Model.Genres" onchange="this.form.submit()">
                <option value="">Select genre</option>
            </select>
        </div>
    }
</div>


<div class="container">
    <div class="row row-margin">
        @foreach (var item in Model.ApplicationUsers)
        {
            <div class="card col col-12 card-container">
                <div class="card-body">
                    <div class="d-flex justify-content-between user-bar">
                        <div class="card-title d-flex justify-content-between">
                            <div class="user-image"></div>

                        </div>
                        <h5 class="username"> @item.FirstName @item.LastName</h5>
                        <a href="#" class="btn btn-secondary profile-btn">Vis profil</a>
                    </div>
                    <div class="card-text">
                        @foreach (var userInstrument in item.UserInstruments)
                        {
                            <div class="d-flex justify-content-between">
                                <h5 class="">@userInstrument.Instrument.Name</h5>
                                <div class="">
                                    <div>
                                        <h6>Erfaring <span class="badge badge-primary">@userInstrument.Level</span></h6>
                                    </div>
                                </div>
                            </div>
                            <div>
                                @foreach (var genre in userInstrument.UserInstrumentGenres)
                                {
                                    <span class="badge badge-secondary">@genre.Genre.Name</span>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
