@using MusicDating.Models.ViewModels;
@model PostVm

@{
    ViewData["Title"] = "Post";
}
<div class="index-content filter-dropdown">
    <div class="page-title">Find ensemble</div>
    <br>

    @using (Html.BeginForm("Post", "Users", FormMethod.Post))
    {
        <div class="form-group">
            <select asp-for="InstrumentName" class="form-control" asp-items="Model.Instruments"
                onchange="this.form.submit()">
                <option value="">Select instrument</option>
            </select>
        </div>
    }
</div>

<div class="container">
    <div class="row row-margin">
        @foreach (var item in Model.Posts)
        {
            <div class="card col col-12 card-container">
                <div class="card-body">
                    <div class="d-flex justify-content-start user-bar">
                        <div class="card-title d-flex justify-content-between">
                            <div class="user-image"></div>
                        </div>
                        <h5 class="username user-margin">@item.EnsembleName</h5>
                        <div class="jazz-svg"></div>
                        @* <a href="#" class="btn btn-secondary profile-btn">Vis profil</a> *@
                    </div>
                    @* @item.ApplicationUser.FirstName *@
                    <div class="card-text">
                        <p>@item.Description</p>
                        <h5 class="">@item.Instrument.Name</h5>
                    </div>
                </div>
            </div>
        }
    </div>
</div>